# set the user in the local config
[include]
    path = ~/.gitconfig.local

[color]
  ui = auto

[alias]
  root = rev-parse --show-toplevel
  type = cat-file -t
  dump = cat-file -p
  ds = diff --staged      # git ds - diff your staged changes == review before committing.
  st = status -sb         # smarter status - include tag and branch info
  ls = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short  # pretty one-line log with tags, branches and authors
  lsv = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short --numstat    # a verbose ls, shows changed files too
  cp = cherry-pick
  ps = push
  pl = pull
  br = for-each-ref --count=20 --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  pushf = push --force-with-lease
	exec = "!exec "

[format]
    pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset

[merge]
  conflictstyle = zdiff3

[credential]
  helper = osxkeychain

[apply]
    whitespace = nowarn

[branch]
    autosetupmerge = true

[push]
    default = current
    autoSetupRemote = true

[rerere]
    enabled = true

[core]
	excludesfile = /Users/lfontes/.gitignore
  pager = delta

[interactive]
    diffFilter = delta --color-only

[diff]
    colorMoved = default

[commit]
	template = ~/.config/git/GIT_COMMIT_TEMPLATE
#	gpgsign = true

[gpg]
	program = gpg

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

; [url "git@github.com:"]
; 	insteadOf = https://github.com/

[pull]
	rebase = true

[fetch]
	prune = true

[delta]
  side-by-side = true
  navigate = true

