[user]
  name = lxfontes
  email = lxfontes@gmail.com
  signingkey = C594A0BA

[gitflow "prefix"]
  feature = feature/
  release = qa/
  hotfix = hotfix/
  support = support/
  versiontag = v

[color]
  ui = auto

[alias]
  balme = blame
  hist = log --pretty=format:\"%h %ad%x09| %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  ds = diff --staged      # git ds - diff your staged changes == review before committing.
  st = status -sb         # smarter status - include tag and branch info
  ls = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short  # pretty one-line log with tags, branches and authors
  lsv = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short --numstat    # a verbose ls, shows changed files too
  cp = cherry-pick
  ps = push
  pl = pull
  changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
  l = log --graph --date=short
  recent-branches = !git for-each-ref --count=5 --sort=-committerdate refs/heads/ --format='%(refname:short)'
  simple = log --pretty=format:\" * %s\"
  mt = mergetool
  br = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'

[format]
    pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset

[merge]
  tool = vimdiff
  conflictstyle = diff3
  summary = true
  verbosity = 1
  log = true
  prompt = false

[apply]
    whitespace = nowarn
[branch]
    autosetupmerge = true
[push]
    default = tracking
[rerere]
    enabled = true
[core]
	excludesfile = /Users/lucas/.gitignore
[commit]
	gpgsign = true
[gpg]
	program = gpg2
